.container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  h2 {
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-size: var(--font-size-heading-1);
    margin-bottom: var(--p-padding);
  }
  p {
    font-family: var(--font-main);
    font-size: var(--font-size-p-l);
    line-height: 105%;
    // @media screen and (max-width: 768px) {
    //   font-size: 35px;
    // }
    // @media screen and (max-width: 480px) {
    //   font-size: 25px;
    // }
  }
}
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  h1 {
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-size: var(--font-size-hero);
    line-height: 85%;
    span {
      display: block;
      font-family: var(--font-main);
      font-variation-settings: "wght" 900;
    }
  }
}
.about {
  width: 100%;
  max-width: var(--container-size);
  margin: 0 auto;
  margin-bottom: 33vh;
  text-align: center;
  padding: var(--p-padding);
}
.projects {
  width: 100%;
  max-width: var(--container-l-size);
  margin: 0 auto;
  text-align: center;
  margin-bottom: 33vh;
  .grid {
    width: 100%;
  }
  .projectCard {
    width: 100%;
    margin-bottom: 33vh;
    a {
      width: 100%;
      position: relative;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto 0.1vmin auto;
      @media screen and (max-width: 768px) {
        // grid-template-columns: 1fr 35% 35% 1fr;
      }
    }
    h3 {
      width: 100%;
      grid-column: 1 / 2;
      grid-row: 2 / 4;
      text-align: right;
      font-family: var(--font-secondary);
      font-size: var(--font-size-heading-2);
      line-height: 90%;
      position: absolute;
      z-index: 2;
      top: 50%;
      transform: translateY(-50%);
      mix-blend-mode: exclusion;
      padding: var(--p-padding);
      // filter: invert(100%);
    }
    img {
      width: 100%;
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      position: relative;
      z-index: 1;
      aspect-ratio: 16 / 9;
    }
  }
}

.clients {
  width: 100%;
  max-width: var(--container-size);
  margin: 0 auto;
  text-align: center;
  margin-bottom: 33vh;
  h2 {
  }
  p {
    text-transform: uppercase;
  }
}

.contact {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 25vh;
  font-family: var(--font-secondary);
  padding: var(--p-padding);
  font-size: var(--font-size-heading-2);
  line-height: 105%;
  a {
    display: block;
  }
}
