* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "CabinetGrotesk-Variable", sans-serif;
  font-variation-settings: "wght" 400;
}

h1,
h2,
h3 {
  // font-family: "Figue", serif;
}
