:root {
  --color-white: #fff;
  --color-black: #000;

  --foreground: var(--color-white);
  --background: var(--color-black);

  --font-main: "CabinetGrotesk-Variable", sans-serif;
  --font-secondary: "Figue", sans-serif;

  --p-padding: 20px;

  --container-size: 1280px;
  --container-s-size: 720px;
  --container-l-size: 1920px;

  --font-size-hero: 18vmin;

  --font-size-heading-1: 15vmin;
  --font-size-heading-2: 8vmin;
  --font-size-heading-3: 6vmin;
  --font-size-heading-4: 3.5vmin;
  --font-size-heading-5: 3vmin;

  --font-size-p-l: 4.5vmin;
}

@media screen and (max-width: 768px) {
  :root {
    --font-size-hero: 13vmin;
    --font-size-heading-1: 10vmin;
    --font-size-heading-2: 6vmin;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --font-size-heading-2: 8vmin;
    --font-size-heading-4: 5vmin;
    --font-size-p-l: 6vmin;
  }
}

@media screen and (orientation: portrait) {
  :root {
    --font-size-hero: 15vmin;
    --font-size-heading-1: 12vmin;
  }
}
